# Streamlit e Python
__pycache__/
*.py[cod]
.streamlit/config.toml
.streamlit/secrets.toml

# Segredos e Credenciais (CRÍTICO)
.env
token.json
client_secret.json

# Dados e Logs
data/
*.parquet
*.csv
*.txt

# Virtual Env
.venv/
venv/
env/

# IDEs
.vscode/
.idea/
.DS_Store